ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    color: white;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  
  li a:hover {
    background-color: #111;
  }    
  
.home{
  font-size: 100px;
  text-align: center;
}
body{
background-image: url(scene.jpeg);
align-content: center;
}
#query{
  height: 50px;
}